
LINE_MESSAGING_API=''
LINE_DATA_MESSAGING_API=''

LINE_MESSAGING_OAUTH_ISSUE_TOKENV3=""
LINE_BIZ_CHAT_URL=""


LINE_CHANNEL_ID=""
LINE_CHANNEL_SECRET=""
LINE_CHANNEL_ACCESS_TOKEN=""

PACKAGE_EXPIRY_NOTIFY_DAYS=


NUXT_PUBLIC_LIFF_ID=""
LINE_TEST_USER_ID=''


CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""
BETTER_AUTH_TRUSTED_ORIGINS=""
TRUSTED_PROXIES=""

NUXT_PUBLIC_HOSTNAME=""
RESEND_API_KEY=""
RESEND_FROM=

LINE_LIFF_CLIENT_ID=""
LINE_LIFF_CLIENT_SECRET=""

SUPABASE_PASSWORD=""
PRISMA_POOL_MAX="1"
DATABASE_URL=""
DIRECT_URL=""
