# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.
# DATABASE_URL="postgresql://postgres:123456@localhost:5432/saijai-phareab-db"

# Gemini API
GEMINI_API_KEY=""


LINE_MESSAGING_API='https://api.line.me/v2/bot'
LINE_DATA_MESSAGING_API='https://api-data.line.me/v2/bot'
# Endpoint Stateless Channel Access Token
LINE_MESSAGING_OAUTH_ISSUE_TOKENV3="https://api.line.me/oauth2/v3/token"
LINE_BIZ_CHAT_URL="https://chat.line.biz/Ude7bbdc95f5a7f7bb78ee083c22b9ad9/chat"


LINE_CHANNEL_ID=""
LINE_CHANNEL_SECRET=""
LINE_CHANNEL_ACCESS_TOKEN=""

NUXT_PUBLIC_LIFF_ID=""
LINE_TEST_USER_ID=''

CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app http://localhost:3000

# LINE Login Channel (สำหรับใช้งาน Auth)
LINE_LIFF_CLIENT_ID=""
LINE_LIFF_CLIENT_SECRET=""

SUPABASE_PASSWORD=""

# Connect to Supabase via connection pooling
# DATABASE_URL="postgresql://postgres.ablcwwveodutrljxzfxs:Wpnq26wfRanh6Ko6@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DATABASE_URL=""

# Direct connection to the database. Used for migrations
# DIRECT_URL="postgresql://postgres.ablcwwveodutrljxzfxs:Wpnq26wfRanh6Ko6@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
DIRECT_URL=""

SLIP2GO_BASE_URL="https://connect.slip2go.com/api"
SLIP2GO_VERIFY_PATH=""
SLIP2GO_API_KEY=""
SLIP2GO_API_KEY_HEADER=""
SLIP2GO_API_KEY_PREFIX=" "
SLIP2GO_MOCK_MODE=""
SLIP2GO_ACCOUNT_TYPE=""
SLIP2GO_ACCOUNT_NO=""
PROMPTPAY_ID=""
